

<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">{{client.lastName}} {{client.firstName}} </div>
  <div class="card-body">
    <h5 class="card-title">Adresse</h5>
    <p class="card-text"></p>
<h5 class="card-title">Comptes</h5>  
<h5 class="card-title">Cartes</h5>
</div>
</div>
<a class="btn btn-dark" routerLinkActive="active" routerLink="/client-list" >Back to client list</a>
    <button class="btn btn-danger mr-1" (click)="deleteClient(client.id)">Delete</button>