
En cours de developpement


<!-- 
<h3>Veuillez remplir les champs requis :</h3>



<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

                <label>Id du compte debiteur:
                    <input type="text" formControlName="id1">
                </label>

                <p></p> <label>Id du compte a crediter:
                    <input type="text" formControlName="id2">
                </label>


                <p></p> <label>Montant du virement:
                    <input type="text" formControlName="amount">
                </label>
     
               &nbsp; <button class="btn btn-success" type="submit"
                    [disabled]="!myForm.valid">Virement</button>
            </form>
        </div>
    </div>
</div>
-->
<p></p> <a class="btn btn-dark" routerLinkActive="active" routerLink="/client-list">Retour</a> 