<h2>
  Liste des operations
</h2>

<div class="d-flex justify-content-center">

  <table class="table col-sm-4">
    <thead class="thead-light">
      <tr>

        <th scope="col">Type</th>
        <th scope="col">Date</th>
        <th scope="col">Montant</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let op of operations">

        <td>
          <p *ngIf="op.type=='DebitOperation'">Débit</p>
          <p *ngIf="op.type=='CreditOperation'">Crédit</p>
        </td>
        <td>{{op.operationDate| date: 'dd/MM/yyyy'}}</td>
        <td>{{op.amount}}</td>

      </tr>
    </tbody>
  </table>
</div>

<a class="btn btn-dark" routerLinkActive="active" routerLink="/client-list/"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>