<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Edition entreprise</h2>
            <form [formGroup]="myForm" (ngSubmit)="onSubmit(selectedCompany.id, selectedCompany.accountList)">

                <label>Nom de l'Entreprise:
                    <input value={{selectedCompany.companyName}} type="text" formControlName="companyName">
                </label>

                <p></p> <label>Numero SIRET:
                    <input value={{selectedCompany.siretNumber}} type="text" formControlName="siretNumber">
                </label>


                <p></p> <label>Numero de telephone:
                    <input value={{selectedCompany.phone}} type="text" formControlName="phone">
                </label>
               <p></p> <label>Email:
                    <input value={{selectedCompany.email}} type="email" formControlName="email">
                </label>

                <p></p> <label>Adresse:
                    <input value={{selectedCompany.addressClient}} type="text" formControlName="addressClient">
                </label>
               <p></p> <label>Code postal:
                    <input value={{selectedCompany.zipCodeClient}} type="text" formControlName="zipCodeClient">
                </label>

                <p></p> <label>Ville:
                    <input value={{selectedCompany.cityClient}} type="text" formControlName="cityClient">
                </label>
                
              <p></p>  <a class="btn btn-dark" routerLinkActive="active" routerLink="/client-list" >Retour</a>
               &nbsp; <button class="btn btn-warning" type="submit"
                    [disabled]="!myForm.valid">Modifier</button>
            </form>
        </div>
    </div>
</div>