<div class="row">
    <div class="col-0">

    </div>
    <div class="col-6" id="parent">
        <div id="child">
            <div class="header d-flex justify-content-center">
                <h3>Liste Clients Particuliers</h3>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="header d-flex justify-content-center">
            <h3>Liste Clients Entreprise</h3>
        </div>
    </div>
    <div class="col-1">

    </div>
</div>

<div class="d-flex justify-content-center">

    <div class="table col-sm-6">
        <div class="mat-elevation-z8 table">
            <table mat-table [dataSource]="dataSource" style="width: 100%;" class="thead-light">


                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef> Prenom Client </th>
                    <td mat-cell *matCellDef="let c"> {{c.firstName}} </td>
                </ng-container>

                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef> Nom Client </th>
                    <td mat-cell *matCellDef="let c"> {{c.lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let c">
                        <a class="btn btn-info mr-1" routerLinkActive="active" routerLink="/client-show/{{c.id}}"><i
                                class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-danger mr-1" (click)="deleteClient(c.id)"><i class="fa fa-trash"
                                aria-hidden="true"></i></a>
                        <a class="btn btn-warning mr-1" routerLinkActive="active"
                            routerLink="/customer-edit/{{c.id}}"><i class="fa fa-pencil-square-o"
                                aria-hidden="true"></i></a>
                        <a class="btn btn-success mr-1" routerLinkActive="active"
                            routerLink="/account-create/{{c.id}}"><i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons #paginator1></mat-paginator>
        </div>
    </div>
    <div class="table col-sm-6">
        <div class="mat-elevation-z8 table">
            <table mat-table [dataSource]="dataSource2" style="width: 100%;" class="thead-light">


                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef> Raison sociale </th>
                    <td mat-cell *matCellDef="let c"> {{c.companyName}} </td>
                </ng-container>

                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef> Numero SIRET </th>
                    <td mat-cell *matCellDef="let c"> {{c.siretNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let c">
                        <a class="btn btn-info mr-1" routerLinkActive="active" routerLink="/client-show/{{c.id}}"><i
                                class="fa fa-eye" aria-hidden="true"></i></a>
                        <a class="btn btn-danger mr-1" (click)="deleteClient(c.id)"><i class="fa fa-trash"
                                aria-hidden="true"></i></a> <a class="btn btn-warning mr-1" routerLinkActive="active"
                                    routerLink="/company-edit/{{c.id}}"><i class="fa fa-pencil-square-o"
                                aria-hidden="true"></i></a><a class="btn btn-success mr-1"
                            routerLinkActive="active" routerLink="/account-create/{{c.id}}"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons #paginator2></mat-paginator>
        </div>
    </div>
</div>


<!-- <div class="d-flex justify-content-center">

    <table class="table col-sm-5">
        <thead class="thead-light">
            <tr>

                <th scope="col">Prenom Client</th>
                <th scope="col">Nom Client</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let c of clients">
                <tr *ngIf="c.firstName && !c.siretNumber">

                    <td>{{c.firstName}}</td>
                    <td>{{c.lastName}}</td>
                    <td><a class="btn btn-info mr-1" routerLinkActive="active"
                            routerLink="/client-show/{{c.id}}">Voir</a>
                        <a class="btn btn-danger mr-1" (click)="deleteClient(c.id)">Supprimer</a>
                        <a class="btn btn-warning mr-1" routerLinkActive="active"
                            routerLink="/customer-edit/{{c.id}}">Modifier</a>
                        <a class="btn btn-success mr-1" routerLinkActive="active"
                            routerLink="/account-create/{{c.id}}">Ajouter un compte</a></td>
                </tr>
            </ng-container>
        </tbody>
    </table>

    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;

    <table class="table col-sm-5">
        <thead class="thead-light">
            <tr>

                <th scope="col">Raison sociale</th>
                <th scope="col">Numero SIRET</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let c of clients">
                <tr *ngIf="!c.firstName && c.siretNumber">

                    <td>{{c.companyName}}</td>
                    <td>{{c.siretNumber}}</td>
                    <td><a class="btn btn-info mr-1" routerLinkActive="active"
                            routerLink="/client-show/{{c.id}}">Voir</a>
                        <a class="btn btn-danger mr-1" (click)="deleteClient(c.id)">Supprimer</a>
                        <a class="btn btn-warning mr-1" routerLinkActive="active"
                            routerLink="/company-edit/{{c.id}}">Modifier</a><a class="btn btn-success mr-1"
                            routerLinkActive="active" routerLink="/account-create/{{c.id}}">Ajouter un compte</a></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div> -->