<!-- <p>
  client-create works!
</p>
<div class="container custom-container">
    <div class="col-md-12">
        <form #mainForm="ngForm">
            <h3 class="mb-3 text-center">Create Client</h3>

            <div class="form-group">
                <input type="text" required [(ngModel)]="clientAdded.firstName" name="firstName"  class="form-control" placeholder="First Name">



                <input type="text" required [(ngModel)]="clientAdded.lastName" name="lastName"  class="form-control" placeholder="Last Name">



                 <input type="text" required [(ngModel)]="clientAdded.login" name="login"  class="form-control" placeholder="Login"> -->

<!-- <button class="btn btn-success btn-lg btn-block" (click)="addClient()">Create Client</button>
            </div>
        </form>
    </div>
</div> -->

<h2>Creer Client</h2>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" (click)="offSelect()">Particulier</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" (click)="onSelect()">Entreprise</a>
    </li>
</ul>


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

                <label>First Name:
                    <input #newFirstName type="text" formControlName="firstName">

                </label>

                <p></p> <label>Last Name:
                    <input #newLastName type="text" formControlName="lastName">

                </label>

                <p></p> <label *ngIf="clientType">SIRET:
                    <input #newSiret type="text" formControlName="SIRET">

                </label>
                <p></p> <a class="btn btn-dark" routerLinkActive="active" routerLink="/client-list">Back to client
                    list</a>
                &nbsp; <button class="btn btn-success" type="submit" (click)="addClient(newFirstName, newLastName)"
                    [disabled]="!myForm.valid">Create</button>
            </form>
        </div>
    </div>
</div>