<h2>Creer Client</h2>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" (click)="offSelect()">Particulier</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" (click)="onSelect()">Entreprise</a>
    </li>
</ul>


<div class="container" *ngIf="!clientType">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="myFormCustomer" (ngSubmit)="onSubmitCustomer()">

                <h3>Informations Generales</h3>

                <label>Prenom:
                    <input type="text" formControlName="firstName">
                </label>

                <p></p> <label>Nom:
                    <input type="text" formControlName="lastName">
                </label>

                <p></p> <label>Login:
                    <input type="text" formControlName="login">
                </label>

                <p></p> <label>Numero de telephone:
                    <input type="text" formControlName="phone">
                </label>
                <p></p> <label>Email:
                    <input type="text" formControlName="email">
                </label>

                <p></p> <label>Adresse:
                    <input type="text" formControlName="addressClient">
                </label>
                <p></p> <label>Code postal:
                    <input type="text" formControlName="zipCodeClient">
                </label>

                <p></p> <label>Ville:
                    <input type="text" formControlName="cityClient">
                </label>

                <h4>Compte Courant</h4>

                <p></p> <label>Date d'ouverture:
                    <input type="text" formControlName="openingAccountDateCurrent">
                </label>
                <p></p> <label>Numero de compte:
                    <input type="text" formControlName="accountNumberCurrent">
                </label>
                <p></p> <label>Solde:
                    <input type="text" formControlName="accountBalanceCurrent">
                </label>

                <h4>Compte Epargne</h4>

                <p></p> <label>Date d'ouverture:
                    <input type="text" formControlName="openingAccountDateSavings">
                </label>
                <p></p> <label>Numero de compte:
                    <input type="text" formControlName="accountNumberSavings">
                </label>
                <p></p> <label>Solde:
                    <input type="text" formControlName="accountBalanceSavings">
                </label>

                <p></p> <a class="btn btn-dark" routerLinkActive="active" routerLink="/client-list">Retour</a>
                &nbsp; <button class="btn btn-success" type="submit" [disabled]="!myFormCustomer.valid">Creer</button>
            </form>
        </div>
    </div>
</div>

<div class="container" *ngIf="clientType">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="myFormCompany" (ngSubmit)="onSubmitCompany()">

                 <h3>Informations Generales</h3>

                <p></p> <label>Nom de l'Entreprise:
                    <input type="text" formControlName="companyName">

                </label>

                <p></p> <label>SIRET:
                    <input type="text" formControlName="siretNumber">

                </label>

                <p></p> <label>Login:
                    <input type="text" formControlName="login">
                </label>

                <p></p> <label>Numero de telephone:
                    <input type="text" formControlName="phone">
                </label>
                <p></p> <label>Email:
                    <input type="text" formControlName="email">
                </label>

                <p></p> <label>Adresse:
                    <input type="text" formControlName="addressClient">
                </label>
                <p></p> <label>Code postal:
                    <input type="text" formControlName="zipCodeClient">
                </label>

                <p></p> <label>Ville:
                    <input type="text" formControlName="cityClient">
                </label>

                <h4>Compte Courant</h4>

                <p></p> <label>Date d'ouverture:
                    <input type="text" formControlName="openingAccountDateCurrent">
                </label>
                <p></p> <label>Numero de compte:
                    <input type="text" formControlName="accountNumberCurrent">
                </label>
                <p></p> <label>Solde:
                    <input type="text" formControlName="accountBalanceCurrent">
                </label>

                <h4>Compte Epargne</h4>

                <p></p> <label>Date d'ouverture:
                    <input type="text" formControlName="openingAccountDateSavings">
                </label>
                <p></p> <label>Numero de compte:
                    <input type="text" formControlName="accountNumberSavings">
                </label>
                <p></p> <label>Solde:
                    <input type="text" formControlName="accountBalanceSavings">
                </label>

                <p></p> <a class="btn btn-dark" routerLinkActive="active" routerLink="/client-list">Retour</a>

                &nbsp; <button *ngIf="clientType" class="btn btn-success" type="submit"
                    [disabled]="!myFormCompany.valid" >Creer</button>
            </form>
        </div>
    </div>
</div>