<h2>Ajouter Compte</h2>


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" (click)="offSelect()">Courant</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" (click)="onSelect()">Epargne</a>
    </li>
</ul>

<div class="container" *ngIf="!accountType">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="myFormCurrent" (ngSubmit)="onSubmitCurrent()">
                <h4>Compte Courant</h4>

                <p></p> <label>Date d'ouverture:
                    <input type="date" formControlName="openingAccountDate">
                </label>
                <p></p> <label>Numero de compte:
                    <input type="text" formControlName="accountNumber">
                </label>
                <p></p> <label>Solde:
                    <input type="text" formControlName="accountBalance">
                </label>

                <p></p> <a class="btn btn-dark" routerLinkActive="active" routerLink="/client-list">Retour</a>
                &nbsp; <button class="btn btn-success" type="submit" [disabled]="!myFormCurrent.valid">Creer</button>
            </form>
        </div>
    </div>
</div>

<div class="container" *ngIf="accountType">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="myFormSavings"
                (ngSubmit)="onSubmitSavings()">

                <h4>Compte Epargne</h4>

                <p></p> <label>Date d'ouverture:
                    <input type="date" formControlName="openingAccountDate">
                </label>
                <p></p> <label>Numero de compte:
                    <input type="text" formControlName="accountNumber">
                </label>
                <p></p> <label>Solde:
                    <input type="text" formControlName="accountBalance">
                </label>

                <p></p> <a class="btn btn-dark" routerLinkActive="active" routerLink="/client-list">Retour</a>

                &nbsp; <button *ngIf="accountType" class="btn btn-success" type="submit"
                    [disabled]="!myFormSavings.valid">Creer</button>
            </form>
        </div>
    </div>
</div>

<!--<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form [formGroup]="myForm" (ngSubmit)="onSubmitCustomer()">
        <h4>Compte</h4>

        <p></p> <label>Numero de compte:
          <input type="number" formControlName="accountNumber">
        </label>
        <p></p> <label>Solde:
          <input type="number" formControlName="accountBalance">
        </label>
        <p></p> <label>Date d'ouverture:
          <input type="date" formControlName="openingAccountDate">
        </label>

        <p></p> <label>Type de compte:
          <select formControlName="typeOfAccount">
            <option value="Saving">Saving</option>
            <option value="Current" selected>Current</option>
          </select>
        </label>

        <p></p> <a class="btn btn-dark" routerLinkActive="active" routerLink="/client-list">Retour</a>
        &nbsp; <button class="btn btn-success" type="submit" [disabled]="!myForm.valid">Creer</button>
      </form>
    </div>
  </div>
</div>-->